body{
    background-image: url('https://raw.githubusercontent.com/ccc29/team-training/main/images/bgform1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;

}
.topnav {
    overflow: hidden;
    background-color: beige;
  }
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background-color: white;
}
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text]{
      float: none;
      display: flex;
      text-align: left;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
}
@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    .name,.lname,.email,.contact,.birthdate,.choice,.field,.legend,.buttons{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 14px;
    }
}
.name, .lname{
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.email{
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.contact{
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.birthdate{
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.choice{
    text-align: start;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.field {
    align-items: start;
    color:white;
    border: none;
    font-size: 15px;
    margin: 20px 0;
    padding: 14px 16px;
}  
legend{
    display: flex;
    font-size: 15px;
    color:white;
}

.button-1{
    text-align: start;
    border:none;
    border-radius: 30px;
    box-shadow: 0 2px 3px 0 rgba(#000, 0.3);
    color: black;
    font-weight: bold;
    padding: 18px 20px;
}
.checkbox-label label{
    display:  flex; 
    font-size:  15px; 
    align-items:  center; 
    padding: 14px 16px;
    margin-bottom:  20px; 
    color:white;
  }
.question, .question-wrapper {
    color:white;
    padding: 14px 16px;
    font-size: 15px;
    text-align: start;
}

#contact{
    background-color: beige;
    padding: 20px;
    margin-top: 100px;
    line-height: 24px;
  }
.body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
}
.banner {
    position: relative;
    width: 100%;
    height: 25vmax;
    margin: 2vmax 0;
    background-color: #56565659;
   }
   .text-box{
    box-sizing: border-box;
    position: absolute;
    width: 40vmax;
    height: 21vmax;
    padding: .5vmax;
    background-color: #ffffff00;
    color: #000;
    top: 2vmax;
   }
   .text-box h1{
   	text-align: center;
   	font-size: 2vmax;
   	margin: 0 0 1vmax 0;
   	padding: 0;
   }

   .text-box p{
    font-size: 20px;
   	margin: 0;
   	padding: 0;
   }
   .banner img{
   	box-sizing: border-box;
   	position: absolute;
   	width: 380px;
   	height: 300px;
   	margin: 0 -1vmax;
    padding: 75px 25px;
   }
   .right {
    right: 1vmax;
}
.center {
    right: 33.5vmax;
}
.left {
    left: 1vmax;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
.logo{
    display:block;
    align-self: flex-start;
    width: 90px;
    height: 45px;
}
table {
    width: 100%;
    background-color: beige;
  }
  table thead tr {
    background: #dcd5c5;
  }
  table thead tr h1,
  table thead tr h2,
  table thead tr .h1,
  table thead tr .h2,
  table thead tr h3,
  table thead tr .h3,
  table thead tr h4,
  table thead tr .h4 {
    color: #151515;
  }
  table thead tr a {
    color: #0075b0;
  }
  table thead tr a:hover,
  table thead tr a:focus {
    color: white;
  }
  table tbody tr:nth-of-type(even) {
    background: #e2e2e2;
  }
  table td,
  table th {
    padding: 8px 14px;
    text-align: left;
    font-size: 0.9rem;
    color: black;
    font-weight: 700;
  }
  table td a,
  table th a {
    font-weight: bold;
    color: #00918a !important;
  }
  table td a:hover,
  table th a:hover,
  table td a:focus,
  table th a:focus {
    color: white !important;
  }
  table th {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1.4;
    font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0;
    max-width: 800px;
    line-height: inherit;
    color: black;
  }
  table th.PrimaryFont {
    text-transform: none;
  }
  
  
  @media only screen and (max-width: 599px) {
    table th {
      display: none;
    }
    table td {
      position: relative;
      display: block;
      padding-left: 110px;
    }
    table td:before {
      position: absolute;
      top: 8px;
      left: 10px;
      display: block;
      content: attr(aria-label) ": ";
      font-weight: 700;
    }
    table tbody tr {
      padding: 20px 0;
      display: block;
    }
    table:nth-of-type(odd) {
      background: #f3f3f3;
    }
  }
  